<div class="edit-container">
    <h1>ユーザー編集</h1>
    <%= form_for(@user) do |f| %>

        <p>画像</p>
        <%= attachment_image_tag @user, :image,class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg", size:"30x30"%>
        <%= f.attachment_field :image, placeholder: "プロフィール画像", class: "user-edit-form" %>
    
        <%= f.label :name, "名前" %><br />
        <%= f.text_field :name %><br />

        <%= f.label :twitter_account, "Twitterアカウント" %><br />
        <%= f.text_field :twitter_account %><br />

        <%= f.label :github, "Githubアカウント" %><br />
        <%= f.text_field :github %><br />

        <%= f.label :biography, "自己紹介" %><br />
        <%= f.text_area :biography %><br />
    
        <div>
        <%= f.submit "更新", class:"btn button" %>
        </div>

    <% end %>
</div>