<h1>User</h1>
<%= form_for(@user) do |f| %>

      <h4>Image</h4>
      <%= attachment_image_tag @user, :image,class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg", size:"30×30"%>
      <%= f.attachment_field :image, placeholder: "プロフィール画像", class: "user-edit-form" %>
 
      <h4>Name</h4>
      <%= f.text_field :name %>
 
      <h4>Username</h4>
      <%= f.text_field :username %>

      <h4>Twitter Account</h4>
      <%= f.text_field :twitter_account %>

      <h4>GitHub</h4>
      <%= f.text_field :github %>

      <h4>Biography</h4>
      <%= f.text_area :biography %>
 
      <div>
      <%= f.submit 'UPDATE USER' %>
      </div>

<% end%>