<div class="users-index-container">
    <h1 class="users-index">ユーザー一覧</h1>

    <div class="users-container">
        <% @users.each do |user| %>

        <div class="user-icon">
            <p><%= attachment_image_tag user, :image, format: 'jpeg', size:"100x100" %></p>
        </div>

        <div class="users-detail">
            <ul>
                <li>名前</li>
                <li><%= user.name%></li>
                <li>ユーザーネーム</li>
                <li><%= user.username %></li>
                <li>Twitterアカウント</li>
                <li><%= user.twitter_account%></li>
                <li>Github</li>
                <li><%= user.github%></li>
                <li>自己紹介</li>
                <li><%= user.biography %></li>

                <% if user.id == current_user.id %>
                    <li><%= link_to "Edit" , edit_user_path(current_user)%></li>
                <% end %>
        <% end %>
            </ul>
        </div>
    </div>
</div>