<h1>User</h1>

<table>
<% @users.each do |user| %>
<tr>
<td>Picture</td>
<td>Name</td>
<td>Username</td>
<td>Twitter Account</td>
<td>github</td>
<td>Biography</td>
</tr>
<tr>
<%= attachment_image_tag user, :image, format: 'jpeg', size:"30×30" %>
<td><%= user.name%></td>
<td><%= user.username %></td>
<td><%= user.twitter_account%></td>
<td><%= user.github%></td>
<td><%= user.biography %></td>
</tr>
<% end%>
</table>

<%= link_to "Edit" , edit_user_path(current_user)%>