<div class="index-container">
    <h1>ユーザー一覧</h1>

    <div class="users-index">
        <% @users.each do |user| %>

        <div class="user-icon">
            <p><%= attachment_image_tag user, :image, format: 'jpeg', size:"100x100" %></p>
        </div>

        <div class="users-detail">
            <table>
                <tr>
                    <td><%= user.name %></td>
                    <td><%= user.username %></td>
                </tr>

                <tr>
                    <td>Twitter:<%= link_to user.twitter_account, "https://twitter.com/#{user.twitter_account}" %></td>
                    <td>Github:<%= link_to user.github %></td>
                </tr>

                <tr>
                    <td><%= user.biography %></td>
                </tr>

                <% if user.id == current_user.id %>
                    <th><%= link_to "Edit" , edit_user_path(current_user)%></th>
                <% end %>
            </table>
        </div>
        <% end %>
    </div>
</div>