<h1>User</h1>

<% @users.each do |user| %>
<p>Name</p>
<%= user.name%>
<p>Username</p>
<%= user.username %>
<p>Twitter Account</p>
<%= user.twitter_account%>
<p>github</p>
<%= user.github%>
<p>Biography</p>
<%= user.biography %>
<% end%>

<%= link_to "Edit" , edit_user_path(current_user)%>