<h1>User</h1>
<p>Image</p>
<%= attachment_image_tag @user, :image,class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg", size:"30×30"%>
<p>Name</p>
<%= @user.name%>
<p>Username</p>
<%= @user.username%>
<p>Twitter Account</p>
<%= @user.twitter_account %>
<p>github</p>
<%= @user.github%>
<p>Biography</p>
<%= @user.biography %>
 
<div>
<%= link_to "勉強開始！", new_post_path %>
</div>

<div>
<%= link_to "Index" , users_path %>
</div>

<div> 
<%= link_to "Edit" , edit_user_path(current_user)%>
</div> 
</div>