<div class="users-information-container">
    <div class="user-information-and-stats">
        <div class="user-information">
            <%= attachment_image_tag @user, :image,class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg", size:"100x100" %>
                <table class="user-information-table">
                    <tr>
                        <td><%= @user.name %></td>
                    </tr>
                    <tr>
                        <% if @user.twitter_account %>
                            <td>Twitter Account:<%= link_to @user.twitter_account, "https://twitter.com/#{@user.twitter_account}" %></td>
                        <% end %>
                    </tr>
                    <tr>
                        <% if @user.github %>
                            <td>Github:<%= link_to @user.github, "https://github.com/#{@user.github}" %></td>
                        <% end %>
                    </tr>
                    <tr>
                        <td><%= @user.biography %></td>
                    </tr>
                </table>
            <% if @user.id == current_user.id %>
                <%= link_to "編集", edit_user_path(@user) %>
            <% end %>
        </div>
        
        <div class="users-stats">
            <canvas id="stats" width="700px" height="350px"></canvas>
        </div>
    </div>

    <div class="post-cotainer">
        <% if @user == current_user %>
            <div class="post-form">
                <div id="timer">00h00m00s</div>
                <button id="start" class="btn start-button" type="button">Start</button>
                <%= form_with model: @post, url: posts_path, local: true do |f| %>

                <div class="field">
                    <%= f.label :language, "言語" %><br>
                    <%= f.collection_select :language_id, Language.all, :id, :language %>
                </div>
                
                <div class="field">
                    <%= f.label :kyouzai, "教材" %><br>
                    <%= f.text_area :kyouzai %>
                </div>

                <div class="field">
                    <%= f.label :comment, "コメント" %><br>
                    <%= f.text_area :content %>
                </div>
            
                <%= f.hidden_field :studytime, :value => 0 %>
                <%= f.submit "投稿", class: "btn submit-button", type: "button" %>
                <% end %>
            </div>
        <% end %>

        <div class="posts-index-in-users-show">
        <% @posts.each do |post| %>

            <div class="post-container">
                <div class="icon-in-users-show">
                    <i class="<%= post.language.icon %>"></i>
                </div>

                <div class="post-contents-in-users-show">
                    <div class="minutes">
                        <p class="post-studytime"><%= post.studytime %><br>min</p>
                    </div>

                    <div class="post-table">
                        <%= link_to post.user.name, user_path(post.user), class: "link" %>
                        <%= link_to post_path(post) do %>
                            <table>    
                                <tr>
                                    <td><%= post.language.language %>&emsp;&emsp;<%= post.kyouzai %></td>
                                </tr>
                                <tr class="tr-comment">
                                    <td><%= post.content %></td>
                                </tr>
                            </table>
                        <% end %>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>