<h1>Post</h1>

<div class="posts-index">
  <% @posts.each do |post| %>
  <div class="post-contents">
    <p>Studytime: <%= "#{post.studytime.id}min." %>
    <p>Language: <%= post.language %></p>
    <p>Kyouzai: <%= post.kyouzai %></p>
    <p>Content: <%= post.content%></p>
        <% if post.user_id == current_user.id %>
          <%= link_to "編集", edit_post_path(post) %>
          <%= link_to "削除", post, method: :delete %>
        <% end %>
  </div>
  <% end %>
</div>
