<div class="index-container">
    <h1>投稿一覧</h1>

    <div class="posts-index">
        <% @posts.each do |post| %>
        <div class="post-contents">
            <div class="minutes">
                <p class="post-studytime"><%= post.studytime %><br>min</p>
            </div>
            <div class="post-table">
                <%= link_to post.user.name, user_path(post.user), class: "link" %>
                <%= link_to post_path(post) do %>
                <table>
                    <tr>
                        <td>言語:<%= post.language %></td>
                        <td>教材:<%= post.kyouzai %></td>
                    </tr>
                    <tr>
                        <td><%= post.content%></td>
                    </tr>
                </table>
                <% end %>
            </div>
        </div>
        <% end %>
    </div>
</div>