<h1>Post</h1>

<div class="posts-index">
  <% @posts.each do |post| %>
  <div class="post-contents">
    <p>Studytime: <%= "#{post.studytime/60}min." %>
    <p>Language: <%= post.language %></p>
    <p>Kyouzai: <%= post.kyouzai %></p>
    <p>Content: <%= post.content%></p>
    <%= link_to "詳細", post_path(post) %>
  </div>
  <% end %>
</div>
