<div>勉強中</div>
<div id="timer">00h00m00s</div>
<button id="start" class="btn btn-primary">Start</button>
<%= form_with model: @post, local: true do |f| %>
<!-- object: f.objectは@user,@micropostを扱う=関連づけられたモデルを両方扱うために指定する-->

  <div class="field">
    <%= f.label :language, "言語" %>
    <%= f.text_area :language%>
  </div>
  <div class="field">
    <%= f.label :kyouzai, "教材" %>
    <%= f.text_area :kyouzai%>
  </div>
  <div class="field">
    <%= f.label :comment, "コメント" %>
    <%= f.text_area :content%>
  </div>
    <%= f.fields_for :studytime do |study_f| %>
        <%= f.hidden_field :studytime, :value => 0 %>
    <% end %>
    <%= f.submit "投稿", class: "btn btn-primary" %>
<% end %>