<div id="micropost-<%= @post.id %>">
  <%= link_to @post.user.name, user_path(@post.user) %>
  <div class="content">
    <%= @post.content %>
  </div>
  <div class="timestamp">
    <p>Posted <%= time_ago_in_words(@post.created_at) %> ago.</a>
    <% if @post.user.id == current_user.id %>
    <%= link_to "delete", @post, method: :delete %>
    <% end %>
  </div>
</div>