<header>
    <div class="clearfix">
        <div class="header-logo">
            <%= link_to root_url do %>
                <%= image_tag "logo.png", width:"350px", height:"100px" %>
            <% end %>
        </div>
        
        <nav class="header-item">
        <% if user_signed_in? %>
            <ul class="header-list">
                <li><%= link_to "ユーザー一覧", users_path %></li>
                <li><%= link_to "投稿一覧", posts_path %></li>
                <li><%= link_to "マイページ", user_path(current_user) %></li>
                <li><%= link_to "ログアウト", destroy_user_session_path , method: :delete%></li>
            </ul>
        <% else %>
            <ul class="header-list">
                <li><%= link_to "登録", new_user_registration_path %></li>
                <li><%= link_to "ログイン", new_user_session_path %></li>
            </ul>
        <% end %>
        </nav>
    </div>
</header>