<!DOCTYPE html>
<html>
  <head>
    <title>Tempus</title>
    <%= include_gon %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/7011fc31e8.js"></script>
  </head>

  <%= render 'layouts/header' %>
  <body>
  
    <%= yield %>
  </body>
</html>
